.App {
  text-align: center;
  max-width: 800px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto auto;
  gap: 4rem;

  @media(max-width: 767px) {
    justify-content: start;
    gap: 2rem;
    padding: 2rem 0 0;
    height: 100%;
    width: 95%;
  }
}

.app-chart{
  height: 400px !important;

  @media(max-width: 767px){
    height: auto !important;
  }
}

.lineChart, .barchart{
  width: 100%;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}